/* DEFAULT */
*  {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0;
    border: none;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;  
}

input[type="button"], input[type="submit"], button {
    cursor: pointer;
}

html, body {
    background-color: var(--main-bg-color);
    height: 100%;
}

/* FLEX STRUCTURAL PROPERTIES */
.flexSize1 {
    flex: 1;
}

.flexSize2 {
    flex: 2;
}

.flexSize3 {
    flex: 3;
}

.flexDirectionColumn{
    display: flex;
    flex-direction: column;
}

.flexDirectionRow {
    display: flex;
    flex-direction: row;
}

.flexCenterMultipleRows {
    justify-content: center;
    align-content: center;
}

.flexCenterSingleRow {
    justify-content: center;
    align-items: center;
}

.flexSpaceEvenly {
    justify-content: space-evenly;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexRight {
    justify-content: flex-end;
    align-items: center
}

.flexLeft {
    justify-content: flex-start;
    align-items: center
}

/** HEADER **/
header {
    background-color: var(--header-bg-color);
    padding: 20px 0 15px 0;
}

/** FOOTER **/
footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footerText-color);
    text-align: center;
}

footer p {
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 25px;
    font-size: 17px;
}

/** SIDE BAR **/
aside {
    background-color: var(--sidebar-bg-color);
    background-image: url("../images/wallpaper/sidebar-bg.jpg");
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: cover;
}

#logoContainer img {
    width: 100%;
    max-width: 230px;
    padding: 50px 0 40px 0;
}


aside > nav > ul > li > a {
    display: flex;
    font-weight: bold;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-default-color);
}

aside > nav > ul > li > a:hover {
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
}

aside > nav > ul > li > a > img {
    width: 100%;
    max-width: 30px;
    margin-right: 15px;
}

/* WRAPPER */
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* CONTAINERS */
.containerBox {
    background-color: var(--contentBoxes-bg-color);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0px 0px 20px;
}

.containerBox h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/** BUTTONS **/
.buttonDefault {
    background-color: var(--defaultButton-bg-color);
    border-style: none;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-bg-color);
}

.buttonSuccess {
    background-color: var(--successButton-bg-color);
}

.buttonSuccess:hover {
    background-color: var(--successButtonHover-bg-color);
}

.buttonWarning {
    background-color: var(--warningButton-bg-color);
}

.buttonWarning:hover {
    background-color: var(--warningButtonHover-bg-color);
}

button:disabled, input[type="submit"]:disabled {
    opacity: 0.5;
}

/** INPUT FIELDS **/
.defaultInput {
    padding: 9px 0px 9px 10px;
    border-radius: 8px;
}

input:read-only{
    opacity: 0.5;
}

/** FORM CREATE BATCH **/
#formCreateBatch input[type=text] {
    width: 100%;
    max-width: 110px;
    margin-bottom: 15px;
}

#formCreateBatch input[type=radio] {
    margin-left: 5px;
    margin-bottom: 15px;
}

#formCreateBatch select {
    width: 100%;
    max-width: 120px;
    margin-bottom: 15px;
}

#lbAutoMachineSpeed, #lbAutoBatchId {
    margin-left: 5px;
    margin-bottom: 15px;
}

#formCreateBatch > label {
    margin-bottom: 5px;
}

/** OPERATIONS **/
#operations h2 {
    margin: 0;
}

/** RESOURCES **/
#resources #resourceMeter {
    background-color: var(--successButton-bg-color);
    width: 100%;
    border-radius: 8px;
    padding: 4px 0 4px 0;
}

#resources #resourceMeter h3 {
    color : var(--main-bg-color);
}

/** MAINTENANCE **/
#maintenance {
    margin-bottom: 20px;
}

#maintenanceMeter {
    background-color: var(--warningButton-bg-color);
    width: 100%;
    border-radius: 8px;
    padding: 15px 0 15px 0;
}

#maintenanceMeter h3 {
    color : var(--main-bg-color);
}


/** REALTIME VISUALIZATION **/
#rtvBox {
    width: 170px;
    margin: 0px 0 20px 0;
}

#rtvBox img {
    width: 100%;
    max-width: 45px;
}

#rtvBox h3 {
    width: 120px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

#rtvBox p {
    font-size: 24px;
    font-weight: bold;
}

/** SEARCH BAR **/
#searchBar input[type="text"] {
    width: 100%;
    max-width: 250px;
    border-radius: 8px 0 0 8px;
}

#searchBar button {
    padding: 9px 15px 9px 15px;
    border-radius: 0 8px 8px 0;
}

#searchBar button img {
    width: 16px;
}

#searchDropdown {
    background-color: var(--main-bg-color);
    position: absolute;
    top: 52px;
    width: 100%;
    max-width: 260px;
    margin-right: 46px;
}

#searchDropdown > a > p {
    border: 1px solid var(--defaultButton-bg-color);
    padding: 10px 0 10px 10px;
}

#searchDropdown > a > p:hover {
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
}

/** DATE TIME **/
#dateTime {
    font-style: italic;
}

/** SERVER AVAILABLE **/
#btnServerConnectivity img {
    width: 20px;
    margin-right: 10px;
}

/** SINGLE BATCH REPORT **/
#singleBatch {
    margin-bottom: 20px;
}

#singleBatch h3 {
    margin: 20px 0 10px 0;
}

#singleBatchHeader {
    background-color: var(--innerContentBoxes-bg-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#singleBatchHeader p {
    margin: 10px 0 10px 0;
}

#singleBatchLogs {
    margin-top: 20px;
}

#singleBatchLogs ul {
    background-color: var(--innerContentBoxes-bg-color);
    padding: 20px;
    margin: 0 10px 20px 0;
    border-radius: 8px;
    width: 100%;
    max-width: 140px;
}

#singleBatchLogs li {
    font-size: 12px;
}

/** SINGLE BATCH REPORT STATES **/

#singleBatchStates ul {
    background-color: var(--innerContentBoxes-bg-color);
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
}

#singleBatchStates ul li{
    margin: 3px 0 3px 0;
}

/** ALL BATCH REPORTS **/

#batchReports {
    margin-bottom: 20px;
}

#batchReports button{
    margin: 0;
}

#batchReportsTable {
    margin-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--innerContentBoxes-bg-color);
}

tr:not(:first-child):hover {
    cursor: pointer;
    background-color:  var(--table-row-hover-color);
}

/** STATISTICS **/
#stateChartContainer {
    margin-bottom: 20px;
}