:root {
    --main-bg-color: #ffffff;
    --sidebar-bg-color: #f2f3f5;
    --footer-bg-color: #2d3436;
    --header-bg-color: #dcdde1; 

    --text-bg-color: #ffffff;
    --text-default-color: #000000;

    --footerText-color:#576165;

    --contentBoxes-bg-color: #f5f5f8;
    --innerContentBoxes-bg-color: #ffffff;
    --disabledInputField-bg-color: #dee5e8;

    --defaultButton-bg-color: #bdc3c7;
    --warningButton-bg-color: #e84118;
    --warningButtonHover-bg-color: #c23616;
    --successButton-bg-color: #4cd137;
    --successButtonHover-bg-color: #44bd32;

    --sidebar-hover-color: #f8f9fb;
}
